MONGODB_URL=mongodb://localhost:27017
MONGODB_DATABASE=pedidos_db
MONGODB_COLLECTION=pedidos
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=appuser
RABBITMQ_PASSWORD=apppassword
RABBITMQ_QUEUE=pedidos.criados
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=pedidos-criados
